<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Tên nhà cung cấp</th>
                <th>Địa chỉ</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>Chức năng</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in @ViewBag.Suppliers)
            {
                <tr>
                    <td>@item.supplier_name</td>
                    <td>@item.address</td>
                    <td>@item.phone_number</td>
                    <td>@item.email</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.supplier_Id">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.supplier_Id">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.supplier_Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-controller="Supplier" asp-action="Create" class="btn btn-primary">Thêm mới</a>
</div>