@model NhaCungCap
<div class="container">
    <div class="col-md-12">
        <div class="titlepage">
            <h2>Xem chi tiết Nhà Cung Cấp</h2>
        </div>
    </div>
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                Id:
            </dt>
            <dd class="col-sm-10">
                @Model.Id
            </dd>
            <dt class="col-sm-2">
                Tên Nhà Cung Cấp:
            </dt>
            <dd class="col-sm-10">
                @Model.Name
            </dd>
            <dt class="col-sm-2">
                Địa chỉ:
            </dt>
            <dd class="col-sm-10">
                @Model.Address
            </dd>
            <dt class="col-sm-2">
                Số Điện Thoại:
            </dt>
            <dd class="col-sm-10">
                @Model.Phone
            </dd>
            <dt class="col-sm-2">
                Email:
            </dt>
            <dd class="col-sm-10">
                @Model.Email
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Sửa</a>
        <a asp-action="Index" class="btn btn-secondary">Trở về danh sách</a>
    </div>
</div>
