@model LopHoc
<div class="container">
    <p>Id: <b>@Model.Id</b></p>
    <p>Tên lớp học: <b>@Model.TenLopHoc</b></p>
    <p>Năm nhập học: <b>@Model.NamNhapHoc</b></p>
    <p>Năm ra trường: <b>@Model.NamRaTruong</b></p>
    <p>Số lượng sinh viên: <b>@Model.SoLuongSinhVien</b></p>
</div>