<div class="container">
    <form asp-action="Search" method="get">
        <input type="text" name="searchingString" placeholder="Nhập tên lớp cần tìm ..."
               value="@ViewBag.SearchString" />
        <input type="submit" value="Tìm kiếm" />
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Tên Lớp  Học</th>
                <th>Năm nhập học</th>
                <th>Năm ra trường</th>
                <th>Số lượng sinh viên</th>
            </tr>
        </thead>

        @foreach (var item in @ViewBag.lophoc)
        {
            <tbody>
                <tr>
                    <td>@item.TenLopHoc</td>
                    <td>@item.NamNhapHoc</td>
                    <td>@item.NamRaTruong</td>
                    <td>@item.SoLuongSinhVien</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                    </td>
                </tr>
            </tbody>
        }
    </table>
    <a asp-controller="LopHocControllers" asp-action="Create" class="btn btn-primary">Thêm mới</a>
</div>